/* common shared style  */
* {
    margin: 0;
    padding: 0;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

.btn-primary {
    color: #FFF;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

/* nav style  */
header {
    background-color: #FFF8F3;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0px 265px 0px 226px;
}

.nav-bar h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.nav-bar>ul {
    display: flex;
    align-items: center;
}

.nav-bar li {
    list-style: none;
    margin-left: 50px;
}

.nav-bar li a {
    text-decoration: none;
    color: #474747;
}

/* banner style  */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 150px;
    background-image: url('../assets/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-text{
    max-width: 550px;
}

.banner-text>h3 {
    color: #474747;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-text>h1 {
    color: #181818;
    font-size: 55px;
    font-weight: 700;
    margin-top: 5px;
}
.banner-text > p{
    margin: 20px 0;
}

.banner-profile img {
    width: 484px;
    height: 576px;
    margin-bottom: 0px;
}

/* main section styles */

/* about section styles */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 80px 110px;
    margin: 100px 200px;
}
.section-description{
    margin: 30px ;
    line-height: 2rem;
}